<nav class="navbar">

    <div class="logo">
        {{ title }}
    </div>

    <ul class="nav-links">

        <li>
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                Home
            </a>
        </li>

        <li>
            <a routerLink="/courses" routerLinkActive="active">
                Courses
            </a>
        </li>

        <li>
            <a routerLink="/profile" routerLinkActive="active">
                Profile
            </a>
        </li>

    </ul>

</nav>