.eventCard {
    border: 2px solid blue;
    padding: 20px;
    margin: 20px;
    background-color: #f0f8ff;
}

.selectedField {
    outline: 3px solid red;
    padding: 10px;
}

.hiddenBox {
    visibility: hidden;
    background-color: yellow;
}

.noneBox {
    display: none;
    background-color: lightgreen;
}