/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Element Selector */
h2 {
    color: green;
    margin: 20px;
}

/* ID Selector */
#mainHeader {
    background-color: navy;
    color: white;
    padding: 20px;
}

/* Class Selector */
.eventCard {
    border: 1px solid gray;
    padding: 15px;
    margin: 10px;
}

/* Grouping Selector */
h3,
p {
    color: brown;
    margin: 10px;
}