body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 40px;
    font-weight: 700;
}

h2 {
    font-size: 28px;
    font-style: italic;
}

.description {
    text-align: justify;
    text-transform: capitalize;
    letter-spacing: 2px;
    line-height: 1.8;
}